.staff-content {
    position: relative;
    display: block !important;
    max-width: 960px;

    .info {
        clear: none !important;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }

        p.contact {
            padding-top: 15px;
        }
    }

    a.button {
        margin-right: 5px;
    }

    ul,
    ol {
        padding-left: 30px;
    }

    .wp-post-image {
        clear: none !important;
        float: right;
        margin: 0 0 25px 25px;

        @include mobile {
            display: none;
        }
    }

    h2 {
        margin-bottom: 10px;
        clear: none !important;
    }

    .title {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 0;
    }
}